* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background: #222;
}
.card {
  width: 90%;
  max-width: 470px;
  border-radius: 20px;
  background: #22c1c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #fdbb2d,
    #22c1c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  margin: 50px auto 0;
  padding: min(5%, 40px) min(5%, 35px);
  text-align: center;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
  border-radius: 30px;
  min-width: 0;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button span {
  font-size: 40px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10%;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 50px;
  font-weight: 400;
  margin-top: -10px;
}

#weather-icon {
  width: 170px;
}
.col {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 10px;
}
.col img {
  width: 40px;
}
.humidity,
.wind {
  font-size: 25px;
}
